<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>gallery</title>
</head>

<body bgcolor="#FF99FF"><marquee behavior="alternate" bgcolor="#000000"><img src="Odisha.jpg" height="590" width="1019" /></marquee>
<font color="#FF0066"><h1 align="center"><img src="odisha (1).png" height="469" width="1200" /></h1></font>
<font size="+3" color="#99FF33">
<marquee behavior="alternate" bgcolor="#3333CC" hspace="10">Explore and Experience the untold & untoched serene sublime beauty of alluring ancient</marquee></font><br /><br />
<img src="01.jpg" align="left" alt="hidden" border="6" height="196" width="293" hspace="50" vspace="75" title="tribes" />
<img src="15SMMANGALAJODI1.jpg" align="bottom" alt="hidden" border="6" height="196" width="293" hspace="50" vspace="75" title="migratory birds"/>
<img src="03.jpg" align="bottom" alt="hidden" border="6" height="196" width="293" hspace="50" vspace="75" title="zoo"/>
<img src="04.jpg" align="left" alt="hidden" border="6" height="196" width="293" hspace="50" vspace="75" title="chilika" />
<img src="05.jpg" align="bottom" alt="hidden" border="6" height="196" width="293" hspace="50" vspace="75" title="sunset at beach"/>
<img src="06.jpg" align="bottom" alt="hidden" border="6" height="196" width="293" hspace="50" vspace="75" title="ratha yatra"/>
<img src="07.jpg" align="left" alt="hidden" border="6" height="196" width="293" hspace="50" vspace="75" title="ratnagiri "/>
<img src="08.jpg" align="bottom" alt="hidden" border="6" height="196" width="293" hspace="50" vspace="75" title="simlipal"/>
<img src="dhauli-giri-hills-bhubaneswar-tourism-entry-fee-timings-holidays-reviews-header.jpg" align="bottom" alt="hidden" border="6" height="196" width="293" hspace="50" vspace="75" title="dhauligiri"/>
<img src="images (2).jpg" align="bottom" alt="hidden" border="6" height="196" width="293" hspace="50" vspace="75" title="udaygiri"/>
<img src="120956144Bhubaneswar_Regional_Museum_Main_thumb.jpg" align="bottom" alt="hidden" border="6" height="196" width="293" hspace="50" vspace="75" title="museum"/>
<img src="images (1).jpg" align="bottom" alt="hidden" border="6" height="196" width="293" hspace="50" vspace="75" title="khandagiri"/>
<img src="images.jpg" align="bottom" alt="hidden" border="6" height="196" width="293" hspace="50" vspace="75" title="temple city"/>
<img src="maxresdefault.jpg" align="bottom" alt="hidden" border="6" height="196" width="293" hspace="50" vspace="75" title="hirakud dam"/>
<img src="private-tour-konark-sun-temple-and-pipli-village-day-tour-from-in-bhubaneshwar-211695.jpg" align="bottom" alt="hidden" border="6" height="196" width="293" hspace="50" vspace="75" title="konark sun temple"/>
<img src="paradip-Port.jpg" align="bottom" alt="hidden" border="6" height="196" width="293" hspace="50" vspace="75" title="paradip port"/>
<img src="maxresdefault (1).jpg" align="bottom" alt="hidden" border="6" height="196" width="293" hspace="50" vspace="75" title="sanaghagra waterfall"/>
<img src='private-full-day-khandagiri-udayagiri-and-dhauli-buddhist-site-tour-in-bhubaneshwar-212263.jpg' align="bottom" alt="hidden" border="6" height="196" width="293" hspace="50" vspace="75" title="khandagiri"/>
<img src="regional-plant-resource-centre-rprc-ekamra-kanan-bhubaneswar.jpg" align="bottom" alt="hidden" border="6" height="196" width="293" hspace="50" vspace="75" title="ekamrakanan"/>
<img src="japanese-garden.jpg"align="bottom" alt="hidden" border="6" height="196" width="293" hspace="50" vspace="75" title="japanese garden"/>
<img src="Forest Park(Biju Patnaik Park), Bhubaneswar_1.jpg" align="bottom" alt="hidden" border="6" height="196" width="293" hspace="50" vspace="75" title="park"/>
<img src="108-CAMEL-RIDE-AT-PURI-BEACH.jpg" align="bottom" alt="hidden" border="6" height="196" width="293" hspace="50" vspace="75" title="puri beach"/>
<img src="Ocean-World-Water-Park-in-Bhubaneswar.jpg" align="bottom" alt="hidden" border="6" height="196" width="293" hspace="50" vspace="75" title="waterpark "/>
<img src="download.jpg" align="bottom" alt="hidden" border="6" height="196" width="293" hspace="50" vspace="75" title="mall"/>
</body>
</html>
