<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Travel guide</title>
<style>
p{
	word-spacing:10px
	}
	</style>
</head>

<body background="odisha.png" style="background-size:cover">
<u><h1 align="center" style="background:"><font size="10" color="#FF0000" face="cursive">Travel guide</h1></u></font><hr />
<font size="5" color="#FF0000" face="cursive"><p>Orissa Travel Guide is very reach and vivid, making you experience the real fun of being in such a marvelous destination. You can find here all the relevant Orissa travel information and enjoy splendor of some of the marvelous destinations in the state. Orissa Travel and Tourism Guide helps you to visit numerous splendid temples and grand monuments, mesmerizing beaches, fantastic wildlife sanctuaries and mind-blowing natural panorama of the state as well as vivid culture. This all is capable to offer you a very unique kind of experience during your holidays in this fantastic destination and you get enchanted by the peace and beauty of the wonderful state. You are going to have an experience for a lifetime.</p><hr />
<u><h2 align="center" style="background:">Puri tourism</h2></u>
<ul type="square">
<center><li><a href="https://www.india.com/travel/puri/how-to-reach/"> How to reach puri?</li></a>
<li><a href="https://www.accuweather.com/en/in/puri/189794/weather-forecast/189794">Puri weather</li></a>
<li><a href="https://en.wikipedia.org/wiki/Puri"> About puri</li></a>
<li><a href="http://www.orissatourpackages.co.in/?gclid=CjwKCAjwkcblBRB_EiwAFmfyy64WXftcZKrBmXA0DP7Bl6rg2pBFw6vmpWR4PLBXoO8FuTZIqQQoBxoCNkkQAvD_BwE">Tours and packages in puri</li></a>
<li><a href="https://www.booking.com/city/in/puri.html">Hotels and resorts in puri</li></a>
</ul></center><hr />
<u><h2 align="center" style="background:">Konark tourism</h2></u>
<ul type="square">
<center><li><a href="https://www.goibibo.com/destinations/konark/how-to-reach-konark/"> How to reach konark?</li></a>
<li><a href="https://www.accuweather.com/en/in/konark/195081/weather-forecast/195081">Konark weather</li></a>
<li><a href="https://en.wikipedia.org/wiki/Konark"> About konark</li></a>
<li><a href="http://www.orissatourpackages.co.in/?gclid=CjwKCAjwkcblBRB_EiwAFmfyy64WXftcZKrBmXA0DP7Bl6rg2pBFw6vmpWR4PLBXoO8FuTZIqQQoBxoCNkkQAvD_BwE">Tours and packages in konark</li></a>
<li><a href="https://www.booking.com/city/in/konark.html">Hotels and resorts in konark</li></a>
</ul></center><hr />
<u><h2 align="center" style="background:">Bhubaneswar tourism</h2></u>
<center><ul type="square">
<li><a href="https://www.goibibo.com/destinations/bhubaneswar/how-to-reach-bhubaneswar/">How to reach bhubaneswar?</li></a>
<li><a href="https://www.accuweather.com/en/in/bhubaneswar/189781/weather-forecast/189781">Bhubaneswar weather</li></a>
<li><a href="https://en.wikipedia.org/wiki/Bhubaneswar"> About bhubaneswar</li></a>
<li><a href="http://www.orissatourpackages.co.in/?gclid=CjwKCAjwkcblBRB_EiwAFmfyy64WXftcZKrBmXA0DP7Bl6rg2pBFw6vmpWR4PLBXoO8FuTZIqQQoBxoCNkkQAvD_BwE">Tours and packages in bhubaneswar</li></a>
<li><a href="https://www.booking.com/city/in/bhubaneshwar.html">Hotels and resorts in bhubaneswar</li></a>
</ul></center><hr />
<u><h2 align="center" style="background:">Cuttack tourism</h2></u>
<center><ul type="square" align="center">
<li><a href="https://www.goibibo.com/destinations/bhubaneswar/how-to-reach-cuttack/">How to reach cuttack?</li></a>
<li><a href="https://www.accuweather.com/en/in/cuttack/189792/weather-forecast/189792">Cuttack weather</li></a>
<li><a href="https://en.wikipedia.org/wiki/Cuttack"> About cuttack</li></a>
<li><a href="http://www.orissatourpackages.co.in/?gclid=CjwKCAjwkcblBRB_EiwAFmfyy64WXftcZKrBmXA0DP7Bl6rg2pBFw6vmpWR4PLBXoO8FuTZIqQQoBxoCNkkQAvD_BwE">Tours and packages in cuttack</li></a>
<li><a href="https://www.booking.com/city/in/cuttack.html">Hotels and resorts in cuttack</li></a>
</ul></center><hr /></font>

</body>
</html>
