<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>home</title>
</head>

<body>
<b><i><div style="width:750px; height:1350px; background-color:#FFFF99;margin:auto;">    
<div style="width:750px; height:398px; background-color:#FF0000; text-align:center; background-image:url(odisha-tourism-750x398.jpg)"></div>
<p style="font-size:30px">There are some places in the India that are special, and <a href="https://en.wikipedia.org/wiki/Odisha">Odisha</a> (Orissa) tourism is definitely one of them. Filled with exquisite temples and extraordinary monuments, home to many thousands of prolific artists and craftsmen; and possessing beaches, wildlife sanctuaries, and natural landscape of often-enchanting beauty,Odisha (Orissa) tourism is a unique and fascinating land that is, nevertheless, still largely undiscovered by tourists.

Tourism in Orissa (Odisha) India is a veritable museum of India's sculptural and artistic heritage and has long been famous to scholars and connoisseurs for the magnificent Sun Temple at Konark (The legendary 'Black Pagoda' of European mariners), for the majestic temple of Lord Jagannath at Puri (renowned for the spectacular Rath Yatra chariot festival), and for the glorious temples of Bhubaneswar. The small but ever-growing number of sophisticated tourists who do manage to find their way to Orissa (Odisha) tourism are generally prepared with some knowledge of these temples, Puri tourism, of the delicate Orissan ikat textiles which have been become famous throughout the world, and, perhaps, of the beaches at Puri and Gopalpur on sea.

Odisha(Orissa) Travel Guide is as vivid as the experience of Orissa Travel & Tourism itself. The land of this East Indian state is known for holding uniqueness of culture and nature, making Orissa India Tourism worth thing to do. Go for an Odisha Tour and have a superb experience.</p>
</body>
</html>
