<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>index</title>
<style>
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
</style>
</head>

<body>
<b><i><div style="width:1000px; height:500px; background-color:#F99; margin:auto;" >  

<font size="5"><div style="width:200px; height:50px; background-color:#99CC00; float:left;"><a href="/homepage"> Home</a></div>
<div style="width:200px; height:50px; background-color:#99CC00; float:left;"> <a href="/regform">Hotel registration</a></div>
<div style="width:200px; height:50px; background-color:#99CC00; float:left;"> <a href="/guide">Destination guide</a></div>
<div style="width:200px; height:50px; background-color:#99CC00; float:left;"><a href="/gallery">Gallery</a></div>
<div style="width:200px; height:50px; background-color:#99CC00; float:left;"><a href="/signup">Signup</a></div>
<img src="LogoH20190329_150336.png" height="50" width="200" /> 
<marquee behavior="alternate" align="middle"><img src="loader.gif" align="middle" width="270" height="379"/> <font color="#FF0000" size="20">Odisha Heartly  Welcomes You<img src="loader.gif" align="middle" width="270" height="379"/></div></marquee></font>
<font face="Verdana, Geneva, sans-serif"><div style="width:200px;height:350px; background-color:#CCFFFF; float:left; border:20px">Cuisines to explore</font>
<ul>
<li>crab curry</li>
<li>fish curry</li>
<li>the pakhala</li>
<li>the mahaprasad</li>
<li>pitha</li>
<li>dalma</li>
<li>chenna poda,rasagulla,chena jhilli</li>
<li>handi mansha etc</li></ul></div>
<font face="Verdana, Geneva, sans-serif"><div style="width:200px;height:350px; background-color:#00CCFF; float:left; border:20px">Attractions</font>
<ul>
<li>beaches</li>
<li>monastry</li>
<li>caves</li>
<li>waterfall</li>
<li>wildlife sanctuary</li>
<li>museum</li>
<li>ports</li>
<li>dams</li>
<li>zoo</li></ul></div>
<font face="Verdana, Geneva, sans-serif"><div style="width:200px;height:350px; background-color:#F9F; float:left; border:20px">Upcoming events
</font><ul>
<li>light and sound show at konark</li>
<li>musical foutain and laser show at bindu sagar</li>
<li>temple trail with willam</li>
<li>kalinga war retold at dauligiri</li>
</ul></div>
<font face="Verdana, Geneva, sans-serif"><div style="width:200px;height:350px; background-color:#F06; float:left; border:20px">Activities on to go</font>
<ul>
<li>boating</li>
<li>bird watching</li>
<li>photography</li>
<li>trekking</li>
<li>folk dance</li>
<li>water sports</li>
<li>and many more sightseeings</li>
</ul></div>
<font face="Verdana, Geneva, sans-serif"><div style="width:200px;height:350px; background-color:#96C; float:left; border:20px">Reasons to visit odisha
</font><ul>
<li>irrawaddy dolphins</li>
<li>unesco world heritage site</li>
<li>the folk dance-odissi</li>
<li>turquoise blue water</li>
<li>mega event-hockey world cup</li>
<li>spirituality and salvation</li>
</ul></div></font>
<div class="slideshow-container">

<div class="mySlides fade">
  <div class="numbertext">1 / 3</div>
  <img src="11143557_10204731456838152_6221952592618183976_o_Main_800.jpg" style="width:100%">
  <div class="text">the puri beach</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">2 / 3</div>
  <img src="private-tour-konark-sun-temple-and-pipli-village-day-tour-from-in-bhubaneshwar-211695.jpg" style="width:100%">
  <div class="text">the sun temple</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">3 / 3</div>
  <img src="dhauli-giri-hills-bhubaneswar-tourism-entry-fee-timings-holidays-reviews-header.jpg" style="width:100%">
  <div class="text">the shanti stupa</div>
</div>

</div>
<br>

<div style="text-align:center">
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
</div>

<script>
var slideIndex = 0;
showSlides();

function showSlides() {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}    
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
  setTimeout(showSlides, 2000); // Change image every 2 seconds
}
</script>

<center><div style="width:1000px; height:50px; background-color:#990033; clear:left;"> &copy;Nishat's original</div></div></i></b></center>
</body>
</html>
